        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">NPR News Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/scrape" id="scrape" class="btn-large waves-effect waves-light red lighten-1">Scrape Articles</a></li>
                    <li><a href="/articles" id="savedArcticles">Saved Articles</a></li>
                    <li>
                        <a href="http://www.npr.org/sections/news/" target="blank"><img id="logo" src="../images/logo.gif" alt="nprLogo"></a>
                    </li>
                    <li><a href="https://github.com/kristinakarrass/NPR-News-App" target="blank">Git Hub Repo</a></li>
                </ul>
            </div>
        </nav>

    <main>
            <div class="parallax-container">
              <div class="parallax"><img src="../images/coffee.jpg"></div>
                <br>
                <br>
              <div class="row right">
               <h1 class="header grey-text text-lighten-2">NPR News Scraper</h1>
               <h5 class="header col s12 light grey-text center">Get the latest articles from NPR.org</h5>
              </div>
            </div>  

            <div class="row center">
                 <ul class="collection">
                    {{#unless this.num}}
                       <li class="collection-item grey lighten-1 black-text"><h4>Scrape NPR articles by pressing the Scrape button.</h4></li>
                    {{/unless}}                  
                    {{#if this.num}}             
                        <li class="collection-item red lighten-1 white-text"><h4>You have scraped {{this.num}} articles.</h4></li>
                    {{/if}}
                </ul>
            </div>
            
        <div class="container">
          <div class="row">
          {{#each article}}
            <div class="col l4">
              <div class="card hoverable index">
                <div class="card-image">
                  <a class="articleLink" href={{this.link}} target="blank"><img src="{{this.imgLink}}"></a>
                </div>
                <div class="card-content">
                <h5>{{this.title}}</h5>
                  <p>{{this.teaser}}</p>
                </div>
                <div class="card-action center">
                  <a class="btn black" id="save" data-imglink="{{this.imgLink}}" data-title="{{this.title}}" data-link="{{this.link}}" data-teaser="{{this.teaser}}">Save Article</a>
                </div>
              </div>
          </div>
          {{/each}}
        </div>
      </div>

    </main>

    <footer class="page-footer black">
        <div class="copyright grey-text center">
            Copyright to all content belongs to NPR News, as all articles on this page were scraped from their site. Please visit <a class="link grey-text" href="www.npr.org/sections/news">NPR.org</a> to read more about the latest news!
        </div>
    </footer>

  <!-- Error Modal -->
  <div id="errorModal" class="modal">
    <div class="modal-content">
      <h4>Error</h4>
      <p>This article has already been saved. Check out your saved articles for further options.</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

