<div class="container">
{{!-- display all articles --}}
{{!-- display saved articles --}}
{{!-- display articles with notes --}}
  <div class="row">
    <h1 class="text-center"></h1>
  </div>
  
  <div class="row">
    <img src="../assets/img/burger.png" class="img-responsive center-block" alt="burger">
  </div>

  <div class="row">
  {{!ordered burger display and devour it button}}
  {{#each Articles}}
    <div class="card">
      <div class="card-panel hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src={{this.imgLink}}>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{this.title}}<i class="material-icons right">more_vert</i></span>
          <p><a href={{this.link}}>Read The Article</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{this.title}}<i class="material-icons right">close</i></span>
          <p>{{this.teaser}}}</p>
        </div>
      </div>
    </div>
  {{/each}}

  {{!row for burger input}}
  <div class="col-md-4">

    <p class="text-center"><strong>Order the awesomest juiciest burger you can think of!</strong></p>    
    <form class="create-update-form" action="/" method="POST">
      <div class="form-group text-center">
        <textarea class="form-control" name="burger_name" rows="3" placeholder="enter your burger here"></textarea>
        <button type="submit" class="btn btn-primary">Order Burger!</button>
      </div>
    </form>

  </div>

  {{!display devoured burgers}}
  <div class="col-md-4">
    <table class="table table-bordered">
      <tbody>
        <p class="text-center"><strong>Devoured Burgers</strong></p>
      	{{#each burgers}}
        {{#if this.devoured}}
      	<tr>
      		<td><p>{{this.id}} {{this.burger_name}}</p></td>
      	</tr>
        {{/if}}
      	{{/each}}
      </tbody>
     </table>
    </div> 	
  </div>

</div>
