    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">NPR News Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/scrape" id="scrape" class="btn-large waves-effect waves-light red lighten-1">Scrape Articles</a></li>
                    <li><a href="/articles">Saved Articles</a></li>
                    <li>
                        <a href="http://www.npr.org/sections/news/"><img id="logo" src="../images/logo.gif" alt="nprLogo"></a>
                    </li>
                    <li><a href="https://github.com/kristinakarrass/NPR-News-App">Git Hub Repo</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <br>
            <br>
            <h1 class="header center grey-text text-lighten-2">NPR News Scraper</h1>
            <div class="row center">
                <h5 class="header col s12 light">Get the latest articles from NPR.org</h5>
            </div>
            <div class="row center">
              <ul class="collection">
                {{#if this}}
                <li class="collection-item red lighten-1 white-text">Please press the Scrape button to get the latest articles</li>
                {{/if}}
                {{#unless this}}
                <li class="collection-item grey white-text">Here are NPR's latest articles</li>
                {{/unless}}
              </ul>
            </div>
            <br>
            <br>
        </div>
        <div class="container">
          <div class="row">
           {{!-- display each article in a card --}}
            {{#each article}}
            <div class="col l4" id="{{this.id}}">
              <div class="card">
                <div class="card-panel hoverable">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{this.imgLink}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{this.title}}<i class="material-icons right">more_vert</i></span>
                    <p>
                      <a href={{this.link}} target="blank">Read</a>
                      <a href="#" id="{{this.id}}">Delete</a>
                      <a href="#" id="{{this.id}}">Comment</a>
                    </p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{this.title}}<i class="material-icons right">close</i></span>
                    <p>{{this.teaser}}</p>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
        </div>
        </div>
    </main>

    <footer class="page-footer black">
        <div class="copyright grey-text center">
            Copyright to all content belongs to NPR News, as all articles on this page were scraped from their site. Please visit <a class="link grey-text" href="www.npr.org/sections/news">NPR.org</a> to read more about the latest news!
        </div>
    </footer>


  <div id="noteModal" class="modal">
  <div class="modal-content">
  </div>
  <div class="modal-footer">
    <a href="#" id="saveNote" class="modal-action modal-close waves-effect waves-red btn-flat">Save</a>
    <a href="#" id="deleteNote" class="modal-action waves-effect waves-grey btn-flat">Delete</a>
  </div>
</div>

