    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">NPR News Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/scrape">Back to Scraped Articles</a></li>
                    <li>
                        <a href="http://www.npr.org/sections/news/" target="blank"><img id="logo" src="../images/logo.gif" alt="nprLogo"></a>
                    </li>
                    <li><a href="https://github.com/kristinakarrass/NPR-News-App" target="blank">Git Hub Repo</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <br>
            <br>
            <h1 class="header center grey-text text-lighten-2">NPR News Scraper</h1>
            <div class="row center">
                <h5 class="header col s12 light">YOUR SAVED ARTICLES</h5>
            </div>
            <div class="row center">
              <ul class="collection">
                {{#unless this}}
                <li class="collection-item grey white-text"><h4>You don't have any saved articles.</h4></li>
                {{/unless}}
              </ul>
            </div>
            <br>
            <br>
        </div>
        <div class="container">
          <div class="row">
           {{!-- display each article in a card --}}
            {{#each savedArticle}}
            <div class="col l4 left">
              <div class="card medium">
                <div class="card-panel hoverable">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{this.imgLink}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title grey-text text-darken-4" style="font-size: 14px;"><a class="articleLink" href={{this.link}} target="blank">{{this.title}}</a><i class="material-icons right activator">more_vert</i></span>
                    <p class="center">
                      <a class="btn black" id="delete" data-id="{{this.id}}">Delete</a>
                      <a class="btn black" id="note" data-id="{{this.id}}">Note</a>
                    </p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{this.title}}<i class="material-icons right">close</i></span>
                    <p>{{this.teaser}}</p>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
        </div>
        </div>
    </main>

    <footer class="page-footer black">
        <div class="copyright grey-text center">
            Copyright to all content belongs to NPR News, as all articles on this page were scraped from their site. Please visit <a class="link grey-text" href="www.npr.org/sections/news">NPR.org</a> to read more about the latest news!
        </div>
    </footer>

<div id="noteModal" class="modal">
  <div class="modal-content">
  </div>
  <div class="modal-footer">
    <a href="#" id="saveNote" class="modal-action modal-close waves-effect waves-red btn-flat">Save</a>
    <a href="#" id="deleteNote" class="modal-action waves-effect waves-grey btn-flat">Delete</a>
  </div>
</div>

