    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">NPR News Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/scrape">Back to Scraped Articles</a></li>
                    <li>
                        <a href="http://www.npr.org/sections/news/" target="blank"><img id="logo" src="../images/logo.gif" alt="nprLogo"></a>
                    </li>
                    <li><a href="https://github.com/kristinakarrass/NPR-News-App" target="blank">Git Hub Repo</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <br>
            <br>
            <h1 class="header center grey-text text-lighten-2">NPR News Scraper</h1>
            <div class="row center">
              <ul class="collection">
                {{#if savedArticle}}
                <li class="collection-item grey white-text"><h4>Your saved articles.</h4></li>
                {{/if}}
                {{#unless savedArticle}}
                <li class="collection-item grey white-text"><h4>You don't have any saved articles.</h4></li>
                {{/unless}}
              </ul>
            </div>
            <br>
            <br>
        </div>

        <div class="container">
          <div class="row">
          {{#each savedArticle}}
            <div class="col l4">
              <div class="card hoverable">
                <div class="card-image">
                  <a class="articleLink" href={{this.link}} target="blank"><img src="{{this.imgLink}}"></a>
                </div>
                <div class="card-content" style="padding: 0;">
  <ul class="collapsible" data-collapsible="accordion">

    <!-- Article Drop Down -->
    <li>
      <div style="background-color: white;" class="collapsible-header grey lighten-2">


        <div style="clear: left; line-height: 110%; padding-bottom: 10px; padding-top: 10px;"><span><i class="material-icons" style="font-size:36px; line-height: 1.6rem;">expand_more</i><b>{{this.title}}</b></span></div>

      </div>
      <div class="collapsible-body" style="background-color: white;">
        <p>
          {{this.teaser}}

          <br><br>

          <i>You can read the full article <a href="{{link}}" target="_new">here</a>.</i>
        </p>
          
      </div>
    </li>


    <!-- Add Comments Drop Down -->
    <li>
      <div class="collapsible-header">Add a Note</div>
      <div class="collapsible-body" style="background-color: white;">

        <form id="form-add-{{this.id}}" action="/articles/{{this.id}}" method="post" style="background-color: white;">

          <!-- Author Name Input -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <input id="noteTitle" name="title" type="text" class="validate">
              <label for="author_name">Note Title:</label>
            </div>
          </div>
          
          <!-- Comment Input -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <textarea id="noteBody" name="body" class="materialize-textarea"></textarea>
              <label for="comment_box">Your Note:</label>
            </div>
          </div>

            <!-- Submit Button -->
            <div class="row">
              <div class="input-field col s2"></div>
              <div class="input-field col s8">
              <center><input class="btn add-comment-button" id="note" data-id="{{this.id}}" type="submit" value="Submit"></center>
              </div>
            </div>
          
        </form>

      </div>
    </li>


    <!-- View Comments Drop Down -->
    <li>
      <div class="collapsible-header" id="note">View Notes</div>
      <div class="collapsible-body" style="background-color: white;">
      
        {{!-- Check if the article has notes --}}
        {{#if this.note}}

          {{!-- Article has notes so iterate over them  --}}
          <ul class="collection">
            {{#each this.note}}
            
              <li class="collection-item">

                {{!-- Add a Delete Button --}}
                <span class="badge">
                  <form id="form-delete-{{this.id}}" action="/note/{{this.id}}" method="_delete">
                    <input class="btn-small delete-comment-button" id="delete" data-id="{{this.id}}" type="submit" value="Delete" style="color: white; background-color: red; border-color: red;">
                  </form>
                </span>

                <br>

                {{!-- Add the Content of the Note --}}
                <p>{{this.body}}</p>

              </li> 
            {{/each}}
          </ul>
        
        {{!-- If there aren't any notes, display message --}}
        {{else}}
          <p>There are no notes for this article</p>
        {{/if}}
            
        
      </div>
    </li>
    <li>
      <div class="collapsible-header" id="delete" data-id="{{this.id}}">Delete Article</a></div>
    </li>
  </ul>

                </div>

              </div>
          </div>
          {{/each}}
        </div>
      </div>
    </main>

    <footer class="page-footer black">
        <div class="copyright grey-text center">
            Copyright to all content belongs to NPR News, as all articles on this page were scraped from their site. Please visit <a class="link grey-text" href="www.npr.org/sections/news">NPR.org</a> to read more about the latest news!
        </div>
    </footer>

{{!-- modal for note --}}
<div id="noteModal" class="modal">
  <div class="modal-content">
    <h3>Notes</h3>  
    <div id="noteContent"></div>
  {{!-- input field for modal --}}
     <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="" id="noteTitle" type="text" class="validate">
            <label for="first_name">Title</label>
          </div>
          <div class="input-field col s12">
            <textarea id="noteBody" class="materialize-textarea" placeholder="Write your note here."></textarea>
            <label for="icon_prefix2">Note</label>
          </div>
        </div>
      </form>
      </div>
  </div>
  <div class="modal-footer">
    <a id="saveNote" class="modal-action modal-close waves-effect waves-red btn-flat grey">Save</a>
  </div>
</div>

