    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">NPR News Scraper</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/scrape">Back to Scraped Articles</a></li>
                    <li>
                        <a href="http://www.npr.org/sections/news/" target="blank"><img id="logo" src="../images/logo.gif" alt="nprLogo"></a>
                    </li>
                    <li><a href="https://github.com/kristinakarrass/NPR-News-App" target="blank">Git Hub Repo</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <br>
            <br>
            <h1 class="header center grey-text text-lighten-2">NPR News Scraper</h1>
            <div class="row center">
              <ul class="collection">
                {{#if savedArticle}}
                <li class="collection-item grey white-text"><h4>Your saved articles.</h4></li>
                {{/if}}
                {{#unless savedArticle}}
                <li class="collection-item grey white-text"><h4>You don't have any saved articles.</h4></li>
                {{/unless}}
              </ul>
            </div>
            <br>
            <br>
        </div>

        <div class="container">
          <div class="row">
          {{#each savedArticle}}
            <div class="col l4">
              <div class="card hoverable">
                <div class="card-image">
                  <a class="articleLink" href={{this.link}} target="blank"><img src="{{this.imgLink}}"></a>
                </div>
                <div class="card-content">
                <h5>{{this.title}}</h5>
                  <p>{{this.teaser}}</p>
                </div>
                <div class="card-action">
                    <p class="center">
                      <a class="btn black" id="delete" data-id="{{this.id}}">Delete</a>
                      <a class="btn black" id="note" data-id="{{this.id}}">Note</a>
                    </p>
                </div>
              </div>
          </div>
          {{/each}}
        </div>
      </div>
    </main>

    <footer class="page-footer black">
        <div class="copyright grey-text center">
            Copyright to all content belongs to NPR News, as all articles on this page were scraped from their site. Please visit <a class="link grey-text" href="www.npr.org/sections/news">NPR.org</a> to read more about the latest news!
        </div>
    </footer>

{{!-- modal for note --}}
<div id="noteModal" class="modal">
  <div class="modal-content">
    <h3>Notes</h3>  
    <div id="noteContent"></div>
  {{!-- input field for modal --}}
     <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="" id="noteTitle" type="text" class="validate">
            <label for="first_name">Title</label>
          </div>
          <div class="input-field col s12">
            <textarea id="noteBody" class="materialize-textarea" placeholder="Write your note here."></textarea>
            <label for="icon_prefix2">Note</label>
          </div>
        </div>
      </form>
      </div>
  </div>
  <div class="modal-footer">
    <a id="saveNote" class="modal-action modal-close waves-effect waves-red btn-flat grey">Save</a>
  </div>
</div>

